body{
  width: 850px;
  margin: 0 auto;
}

li{
  padding: 8px;
  margin-left: 20px; 
}

.title{
  font-size: 25px;
  border-left: 10px solid tomato;
  background-color: whitesmoke;
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-left: 10px;
  width: 200px;
  margin-left: 30px;
}

h2{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 2px solid tomato;
  border-left: 15px solid tomato;
  padding-left: 10px;
}

.title.open::after {
  transform: rotate(90deg);
}

.contents a {
  font-size: 20px;
  color: #111;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  display: inline-block;
  padding: 2px 0;
  transition: color 0.2s;
}

.contents a:hover {
  color: tomato;
  /*background-color: tomato;*/
}

.backhome{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.backhome a {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  text-decoration: none;
  padding: 15px;
  transition: color 0.2s;
  background-color: tomato
}


.backhome a:hover {
  background-color: orangered;
  /*background-color: tomato;*/
}

