body{
  width: 850px;
  margin: 0 auto;
  background-color: black;
}

li{
  color: whitesmoke;
  padding: 8px;
  margin-left: 20px; 
  font-size: 20px;
}

.contents a {
  font-size: 20px;
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  display: inline-block;
  padding: 2px 0;
  transition: color 0.2s;
}

.contents a:hover {
  color: tomato;
  /*background-color: tomato;*/
}

.backhome{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.backhome a {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
  transition: color 0.2s;
  background-color: black;
  border-bottom:2px solid white ;
  border-top:2px solid white ;
}


.backhome a:hover {
  background-color: orangered;
  /*background-color: tomato;*/
}

