body{
  width: 850px;
  margin: 0 auto;
}

.title.open::after {
  transform: rotate(90deg);
}

li{
  padding: 8px;
  margin-left: 20px; 
}

.title{
  border-left: 10px solid tomato;
  background-color: #eee8aa;
  color: black;
  padding-left: 10px;
  width: 200px;
  margin-left: 30px;
}
