body {
  width: 900px;
  margin: 0 auto;
  padding: 0 auto;
  font-family: sans-serif;
  background: rgb(232, 231, 227);
  color: #222;
  display: flex;
  justify-content: center; /* 画面中央に寄せる */
  text-align: center;
}

h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  border-bottom: 2px solid #222;
  padding-bottom: 10px;
}

h3{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: left;
  line-height: 27px;
  margin-bottom: 70px;
}

#title{
  border-bottom: 2px solid #222;
  padding-bottom: 10px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
  border: 2px solid brown;
}
header {
  padding: 20px;
  background: white;
  border-bottom: 1px solid #ddd;
}

footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  color: #666;
}
.card {
  display: block;
  background: whitesmoke;
  border: 1px solid #ddd;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}
