h1{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /*border-bottom: 8px solid tomato;*/
  color: black;
  text-align: center;
  background-color: whitesmoke;
}

h2{
  width:150px ;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 0;
  border-left: 15px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
  padding-left: 10px;
  /*background-color: whitesmoke;*/
  color: whitesmoke;
}

.title{
  font-size: 25px;
  /*border-bottom: 10px solid black;*/
  border: 5px solid whitesmoke;
  background-color: #333333;
  color: whitesmoke;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-left: 10px;
  width: 100px;
  margin-left: 30px;
}

.title.open::after {
  transform: rotate(90deg);
}

.sub{
  color: tomato;
  font-size: 15px;
}

.eng{
  font-size: 35px;
}

.major{
  width: 300px;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  padding-bottom: 13px;
  border-bottom: 7px solid white;
}

.red{
  color: tomato;
}
/*#news{
  width: 600px;
  margin-top: 10px;
  text-align: justify;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  line-height: 37px;
  color: whitesmoke;
}*/