body{
  width: 850px;
  margin: 0 auto;
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /*border-bottom: 8px solid tomato;*/
  color: #333333;
  text-align: center;
}

h2{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  /*background-color: whitesmoke;*/
  color: #333333;
}

li{
  color: #333333;
  padding: 8px;
  margin-left: 20px; 
  font-size: 20px;
}

.sub{
  color: tomato;
  font-size: 15px;
}

.kaitei{
  color: cornflowerblue;
}

.eng{
  font-size: 35px;
}

.red{
  color: tomato;
}
/*#news{
  width: 600px;
  margin-top: 10px;
  text-align: justify;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  line-height: 37px;
  color: whitesmoke;
}*/

#news{
  width: 750px;
  margin-top: 10px;
  text-align: justify;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 37px;
  color: #333333;
  padding: 50px;
  font-weight: bold;
}
.l_news{
  width:300px ;
  text-align: center;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 0px;
  padding-bottom: 13px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #333333;
}