#concept{
  width: 600px;
  margin-top: 10px;
  text-align: justify;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  line-height: 37px;
  color: whitesmoke;
}

img{
  width: 500px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

/*.small_title{
  margin-top: 10px;
  width: 250px;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 30px;
  padding-left: 10px;
  border-bottom: 2px solid gray;
  border-left: 10px solid gray;
}*/

.l{
  width:850px ;
  text-align: center;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom:2px solid tomato;
  padding: 0;
  padding-bottom: 13px;
  color: whitesmoke;
}

.m{
  width:300px ;
  text-align: center;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 1px solid white;
  border-right:0px ;
  border-left:0px ;
  padding-bottom: 13px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 80px;
  color: whitesmoke;
}

.sub{
  font-size: 20px;
}