/* 画面の内容を中央900pxに制限 */
.wrapper {
  width: 900px;
  margin: 0 auto;
}

/* ギャラリーを横並び */
.gallery {
  display: flex;
  flex-wrap: wrap;   /* 横に並ばなくなったら下に折り返す */
  gap: 20px;
  justify-content: center; /* 横方向の中央揃え */
  margin-top: 20px;
}

/* 作品カード */
.card {
  width: 850px;      /* 横に3枚並ぶサイズ */
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-4px);
}

img {
  margin: 0 auto;
  width:810px;
  /*height: 300px;*/
  display: block;
}
